html {
  background-color: #888888;
}

.btn {
  background-color: white;
  font-size: 1.7rem;
  border: none;
  border-bottom: 2px black solid;
  cursor: pointer;
}

.btn.active {
  cursor: auto;
  background-color: black;
  color: white;
}

.cartList .btn {
  color: white;
  margin: 0.4rem;
  width: 4%;
}

.btn.add {
  background-color: rgb(17, 79, 17);
}

.btn.substract {
  background-color: rgb(181, 28, 28);
}

.nav {
  display: flex;
}

.noActive {
  display: none;
}

p {
  font-size: 1.4rem;
}

.label {
  display: block;
  font-size: 1.4rem;
}
